:root {
    --couleur-fond: #FFFFFF;
    --couleur-texte: #1B1B1B;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--couleur-texte);
    background: var(--couleur-fond);
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: var(--couleur-texte);
    text-decoration: none;
}