.ligne-gestionnaire {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.ligne-gestionnaire .col-nom {
  flex: 0 0 10rem;
  text-align: center;
}

.ligne-gestionnaire .col-infos {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ligne-gestionnaire .col-lignes,
.ligne-gestionnaire .col-colonnes {
  width: 3rem;
  text-align: center;
}
